
@import url('https://fonts.googleapis.com/css?family=Marvel');

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f7f7ed;
  background-image: url('http://res.cloudinary.com/di7m4tijz/image/upload/v1531741231/221395_cohjf6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  font-family: 'Marvel', sans-serif;
}
.App {
  text-align: center;
  font-family: 'Marvel', sans-serif;
}

.App-header {
  background-image: url('https://res.cloudinary.com/di7m4tijz/image/upload/v1531741263/deadpool___transparent_by_asthonx1-da5ybsh_qaikds.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #222;
  height: 90px;
  width: 80%;
  padding: 20px;
  color: #fff;
  border-radius: 0 0 70px 0;
}

.App-header h1{
  font-size: 4vw;
  display: inline-block;
}

h1 a {
  color: #fff;
  text-decoration: none;
}
h1 a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

a {
  color: #e02121;
}

a:hover {
  color: #e02121;
}

.App-footer {
  clear: both;
  background-color: #222;
  padding: 10px;
  text-align: center;
  height: 30px;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

.App-footer a {
  color: #e02121;
}

.form-input {
  margin: 20px 0 20px 20px;
  background: transparent;
  border: 1px solid black;
  width: 30%;
}

form {
  background-color: white;
  margin-top: 0px;
  width: 70%;
  border-radius: 0 0 70px 0;
}

form button {
  border-left: 0px;
}

button {
  background: transparent;
  border: 1px solid black;
  transition: ease-in-out 1s;
}

button a {
  color: black !important;
  text-decoration: none !important;
}

button:hover {
  cursor: pointer;
  background-color: #e02121;
}

.back-button {
  border: 1px solid black;
  padding: 10px;
  background-color: #fff;
  font-size: 20px;
  width: 100px;
  position: absolute;
  float: left;
  margin-left: -175px;
  margin-top: 370px;

}

.characters-box {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0px;
  display: inline-block;
  background: #fffefc;
  box-shadow: -1px 2px 34px 30px rgba(0,0,0,0.75);
  overflow: hidden;
  border: 1px solid black;
  outline: 20px solid #fffefc;
  min-width: 250px;
  min-height: 250px;
}

.characters-box-img {
  min-width: 250px;
  min-height: 250px;
}

.character-name {
  color: #e02121;
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: center;
}

span.character-name-h1 {
  text-transform: uppercase;
  background-color: #222;
  color: #fff;
  border-radius: 0 0 70px 0;
  padding: 10px 10px;
  text-align: center;
  min-height: 70px;
  min-width: 80%;
  display: inline-block;
}

.character-button {
  border: solid 1px black;
  background: transparent;
  border-radius: 1px;
  margin-bottom: 20px;
}

.details-box {
  margin: 80px;
  padding: 20px;
  display: inline-block;
  background: #fffefc;
  box-shadow: -1px 2px 34px 30px rgba(0,0,0,0.75);
  overflow: hidden;
  border: 1px solid black;
  outline: 20px solid #fffefc;
  min-width: 10px;
  min-height: 10px;
  font-size: 25px;
  position: absolute;
}

.comic-info {
  margin-top: 40px;
  margin-left: 331px;
  padding: 10px;
  display: inline-block;
  background: #fffefc;
  box-shadow: -1px 2px 34px 31px rgba(0,0,0,0.75);
  overflow: hidden;
  border: 1px solid black;
  outline: 20px solid #fffefc;
  width: 50%;
  min-height: 10px;
  font-size: 25px;
  text-align: center;
}
